div {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
div div{
    border-bottom: none;
}

.exercicio1 p{
    color: red;
}

.exercicio2 #para1{
    color: red;
}

.exercicio3 .colortext{
    color: red;
}

.exercicio4 {
    background-color: linen;
}
.exercicio4 h1{
    background-color: lightblue;
}

.exercicio5{
    border: 4px dotted black;
}

.exercicio6 h1{
    margin-left: 20px;
    background-color: lightblue;
}

.exercicio7 h1{
    background-color: lightblue;
    margin: 50px 25px;
}

.exercicio8 p{
    background-color: lightblue;
    padding: 25px 50px;
}

.exercicio9 h1{
    background-color: lightblue;
    height: 100px;
    width: 50%;
}

.exercicio10{
    height: 2000px;
}

.exercicio10 h1{
    /* para que o h1 não saísse da div, foi usado na propriedade position o valor sticky ao invés do fixed */
    position: sticky;
    top: 10%;
    color: red;
}    

.exercicio11 div{
    overflow: scroll;
}

.exercicio12 div{
    overflow: hidden;
}

.exercicio13 div{
    height: 200px;
    width: 200px;
    background-color: green;
    opacity: 0.4;
}

.exercicio14 h1{
    text-shadow: 1px 1px 1px black;
}

.exercicio15 div{
    box-shadow: 2px 2px black;
}

.exercicio16 div{
    width: 100px;
    height: 100px;
    background: red;
}
.exercicio16 div:hover{
    color: green;
    width: 500px;
}

.exercicio17 div{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.exercicio17 div:hover{
    color: green;
    width: 500px;
}