form{
	margin: 0 auto;
	width: 40%;
	padding: 20px;
	border: 1px solid;
    border-radius: 10px;
    display: block;
}

form div{
	margin-top: 10px;
}

label{
	display: block ;
    width: 100%;
    text-align: right ; 
}

input, select {
    display: inline-block;
	width: 80%;
	font: 14px sans-serif;
    padding: 5px;
    margin: 5px;
	box-sizing: border-box;
    border-radius: 5px;
}

.radio {
    width: auto;
    display: inline;
}

input:focus, select:focus, textarea:focus{
	border-color: #000;
}

form button{
    width: 6em;
	padding: 15px;
	background-color: blue;
    color: #fff;
    font-weight: bolder;
	border: 0;
	cursor: pointer;
    border-radius: 5px;
    margin-left: 40%;
}

form button:hover{
	background-color: darkblue;
}