body{
    text-align: center;
    font-family: sans-serif, cursive;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 200px;
    height: auto;
}